@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #A9A9A9;
  --gray2: #BDBDBD;
  --gray3: #E5E5E5;
  --gray4: #B9BDCF;
  --black: #4E5150;

  --title-color: var(--black);
  --subtitle-color: var(--gray);
  --item-subtitle-color: var(--gray2);
  --item-background-color: var(--gray3);
  --footer-text-color: var(--gray4);
  --background: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
main {
  flex-grow: 1;
  width: 100%;
}

main div.top-content div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.top-content div.profile img {
  height: 102px;
  width: 102px;
  border-radius: var(--space-sm);
  margin: 30px 0 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

main div.top-content div.profile img:hover {
  transform: scale(1.1);
}

main div.top-content div.profile span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--title-color);
}

main div.top-content div.profile span:last-child {
  font-size: 10px;
  line-height: 12px;
  color: var(--subtitle-color);
  padding: 4px 0 0;
}

main div.top-content ul {
  list-style: none;
  padding: 0;
  margin: 12px 0 40px;
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main div.top-content ul li {
  cursor: pointer;
  height: 52px;
  width: 78px;
  border-radius: 12px;
  background-color: var(--item-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

main div.top-content ul li span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

main div.top-content ul li span:first-child {
  color: var(--title-color);
}

main div.top-content ul li span:last-child {
  color: var(--item-subtitle-color);
}

main div.gallery {
  margin: 40px 12px var(--space-lg);
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  gap: 12px 12px;

  place-items: center;
  place-content: center;
}

main div.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

main div.gallery img:hover {
  transform: scale(1.02);
}

main div.gallery img:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

main div.gallery img:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

main div.gallery img:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
}

footer span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  font-family: "Montserrat";
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 426px) {

  main div.top-content div.profile img {
    height: 110px;
    width: 110px;
  }

  main div.top-content div.profile span {
    font-size: 16px;
  }

  main div.top-content div.profile span:last-child {
    font-size: 12px;
  }

  main div.gallery {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }

}

@media (min-width: 769px) {

  main div.top-content div.profile img {
    height: 116px;
    width: 116px;
  }

  main div.top-content div.profile span {
    font-size: 20px;
  }

  main div.top-content div.profile span:last-child {
    font-size: 16px;
    padding: 12px 0 0;
  }

  main div.gallery {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 14px 14px;
  }
}

@media (min-width: 1023px) {

  main div.gallery {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 16px 16px;
  }
}

@media (min-width: 1439px) {

  main div.top-content div.profile img {
    height: 156px;
    width: 156px;
    margin: 60px 0 var(--space-sm);
  }

  main div.top-content div.profile span {
    font-size: 24px;
    line-height: 29px;
  }

  main div.top-content div.profile span:last-child {
    font-size: 14px;
    line-height: 27px;
    padding: 8px 0 0;
  }

  main div.top-content ul {
    margin: var(--space) 0 var(--space-xlg);
  }

  main div.top-content ul li {
    height: 67px;
    width: 100px;
    display: flex;
    
    margin: 0 12px;
  }
  
  main div.top-content ul li span {
    font-size: 18px;
    line-height: 22px;
  }
  
  main div.top-content ul li span:last-child {
    font-size: 14px;
    line-height: 17px;
  }
  
  main div.gallery {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 18px 18px;
  }
}
